@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-regular-trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-medium-trial.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-bold-trial.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport-light-trial.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --grey: #e5e7eb;
  --black-grey: #6a7282;
  --text-grey: #4a5565;
  --blue: #192189;
  --green: #b3db25;

  /* font sizes */
  --fs-exsm: clamp(10px, 0.9vw, 12px);
  --fs-exxs: clamp(13px, 1vw, 16px);
  --fs-xs: clamp(15px, 1.3vw, 20px);
  --fs-sm: clamp(18px, 1.5vw, 24px);
  --fs-md: clamp(20px, 2.5vw, 32px);
  --fs-lg: clamp(28px, 3vw, 48px);
  --fs-xl: clamp(32px, 4vw, 72px);

  /* border radius */
  --br-sm: 8px;
  --br-md: 16px;
  --br-lg: 24px;
  --br-xl: 32px;
  --br-xxl: 100px;
}

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
p {
  margin: 0;
}
::placeholder {
  color: unset;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Aeroport", sans-serif;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 clamp(25px, 3vw, 50px);
}

/* HEADER START */
.hero {
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative;

  display: flex;
  flex-direction: column;
}
.hero > .container:last-child {
  flex: 1;
  display: flex;
  align-items: center;
}
.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(10px, 2vw, 30px);
  width: 100%;
}
.burger-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-btn span {
  width: 24px;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.mobile-close {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  filter: brightness(1) invert(1);
  display: none;
}
.mobile-close img {
  width: 25px;
  height: 25px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: clamp(12px, 1.3vw, 24px) 0;
}
.header-wrapper .logo-wrapper {
  flex-shrink: 0;
}
.header-wrapper .navbar-menu {
  margin: 0 auto;
}
.header-wrapper .navbar-menu ul {
  display: flex;
  align-items: center;
  gap: clamp(20px, 2.5vw, 40px);
}
.header-wrapper .navbar-menu ul li a {
  color: var(--white);
  font-size: var(--fs-xs);
  padding-bottom: 5px;
}
.header-wrapper .navbar-menu ul li a.active {
  border-bottom: 1px solid var(--white);
}

.header-wrapper .navbar-right-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(12px, 1.3vw, 24px);
}
.header-wrapper .navbar-right-wrapper .navbar-phone-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: clamp(4px, 0.5vw, 8px);
}
.header-wrapper .navbar-right-wrapper .navbar-phone-wrapper span {
  font-size: var(--fs-exsm);
  color: var(--white);
}
.header-wrapper .navbar-right-wrapper .navbar-phone-wrapper a {
  color: var(--white);
  font-size: var(--fs-xs);
}
.header-wrapper .navbar-right-wrapper .navbar-right-btn-wrapper {
  display: flex;
  align-items: center;
  gap: clamp(4px, 0.9vw, 8px);
}
.header-wrapper .navbar-right-wrapper .navbar-right-btn-wrapper button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: clamp(8px, 1vw, 16px) clamp(16px, 2vw, 32px);
  font-size: var(--fs-exsm);
  border-radius: var(--br-md);
  font-weight: 600;
  border: none;
}
.header-wrapper .navbar-right-wrapper .navbar-right-btn-wrapper button img {
  width: 15px;
  height: 15px;
}
.header-wrapper
  .navbar-right-wrapper
  .navbar-right-btn-wrapper
  button:first-child {
  background-color: var(--green);
  color: var(--blue);
}
.header-wrapper
  .navbar-right-wrapper
  .navbar-right-btn-wrapper
  button:nth-child(2) {
  background-color: var(--blue);
  color: var(--white);
}

/* calc tab */
.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.hero-body {
  /* position: absolute;
  top: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 32px); */

  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 2vw, 32px);
  padding: clamp(30px, 5vw, 80px) 0;
}
.hero-body h1 {
  color: var(--green);
  font-size: var(--fs-xl);
  width: 100%;
  max-width: 700px;
  line-height: 120%;
  letter-spacing: -1.5px;
}
.hero-body p {
  color: var(--white);
  font-size: var(--fs-lg);
  line-height: 120%;
  letter-spacing: -1.2px;
}
.hero-body span {
  color: var(--white);
  font-size: var(--fs-xs);
  line-height: 130%;
  letter-spacing: 0px;
  margin-bottom: clamp(9px, 1.1vw, 18px);
}
.hero-body .tab-wrapper {
  width: 100%;
  max-width: 700px;
}
.hero-body .tab-group {
  display: flex;
  align-items: center;
  gap: 0px;
}
.hero-body .tab-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: clamp(12px, 1.4vw, 24px) clamp(25px, 3vw, 50px);
  background-color: rgba(255, 255, 255, 0.2);
  border-top-left-radius: var(--br-md);
  border-top-right-radius: var(--br-md);
  color: var(--white);
  font-size: var(--fs-exxs);
  font-weight: 600;
  border: none;
  width: 100%;
}
.hero-body .tab-group button img {
  width: 20px;
  height: 20px;
}
.hero-body .tab-pane {
  display: none;
  padding: clamp(8px, 1vw, 16px);
}

.hero-body .tab-pane.active {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 1vw, 16px);
}

.hero-body .tab.active {
  background-color: var(--white);
  color: var(--blue);
}
.hero-body .tab.active img {
  filter: brightness(0) invert(13%) sepia(85%) saturate(4153%)
    hue-rotate(237deg) brightness(85%) contrast(101%);
}
.hero-body .tab-content {
  background-color: var(--white);
}
.hero-body .tab-pane input {
  width: 100%;
  border: 1px solid var(--grey);
  padding: clamp(10px, 1.5vw, 20px) clamp(12px, 1.5vw, 24px);
  border-radius: var(--br-md);
  font-weight: 400;
  font-size: var(--fs-exxs);
}
.hero-body .tab-pane input:focus {
  outline: none;
  box-shadow: none;
}
.hero-body .tab-pane input::placeholder {
  color: var(--black-grey);
}

.hero-body .tab-pane button {
  padding: clamp(10px, 1.4vw, 20px);
  width: 100%;
  background-color: var(--green);
  color: var(--blue);
  font-weight: 600;
  font-size: var(--fs-exxs);
  border: none;
  border-radius: var(--br-md);
}

.spinner-container {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: clamp(30px, 5vw, 80px);
}

.spinner-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.spinner-icon a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-icon img {
  width: 20px;
  height: 20px;
}

.spinner-text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: spin 12s linear infinite;
}

.spinner-text text {
  fill: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* HEADER END */

/* HOME SERVICES START */
.our-services {
  margin: clamp(25px, 2.5vw, 50px) 0;
}
.our-services .our-services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: clamp(8px, 1vw, 16px);
  margin: clamp(25px, 2.5vw, 50px) 0;
}
.our-services .our-services-header p {
  font-size: var(--fs-xs);
  color: var(--black-grey);
  font-weight: 400;
}
.our-services .our-services-header h1 {
  font-size: var(--fs-lg);
  color: var(--black);
  font-weight: 400;
}
.our-services .our-services-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(4px, 0.5vw, 8px);
}
.our-services .our-services-body .item {
  display: flex;
  flex-direction: column;
  gap: clamp(12px, 1.5vw, 24px);
  border: 2px solid transparent;
  padding: 8px;
  background-color: #f2f2f2;
  border-radius: var(--br-lg);
  position: relative;
  transition: all 0.3s ease-out;
  height: 100%;
}
.our-services .our-services-body .item:hover {
  border-color: var(--green);
  background-color: var(--white);
}
.our-services .our-services-body .item:hover a {
  background-color: var(--blue) !important;
  color: var(--white) !important;
}
.our-services .our-services-body .item .item-image {
  width: 100%;
  aspect-ratio: 581 / 322;
  overflow: hidden;
}
.our-services .our-services-body .item .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: var(--br-md);
}

.our-services .our-services-body .item .item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  gap: clamp(8px, 1vw, 16px);
  padding: clamp(8px, 1vw, 16px);
}
.our-services .our-services-body .item .item-content h6 {
  font-size: var(--fs-md);
  color: var(--blue);
  font-weight: 600;
  line-height: 130%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.our-services .our-services-body .item .item-content p {
  font-size: var(--fs-exxs);
  color: var(--black-grey);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.our-services .our-services-body .item .item-content a {
  display: flex;
  gap: 10px;
  background-color: var(--green);
  font-size: var(--fs-exxs);
  border-radius: var(--br-md);
  color: var(--blue);
  padding: clamp(8px, 1vw, 16px) clamp(16px, 2vw, 32px);
  transition: all 0.3s ease-out;
  margin-top: auto;
}
.our-services .our-services-body .item .item-content a::after {
  content: "";
  position: absolute;
  inset: 0;
}
/* HOME SERVICES END */

/* BANNER START */
.banner-wrapper {
  height: auto;
  aspect-ratio: 1904 / 536;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 50% 25% !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: clamp(16px, 2vw, 32px);
  border-radius: var(--br-xl);
  padding: clamp(25px, 5vw, 90px) clamp(15px, 3vw, 50px);
  margin-bottom: clamp(25px, 3vw, 50px);
}
.banner-wrapper h1 {
  color: var(--green);
  font-size: var(--fs-lg);
  line-height: 120%;
  letter-spacing: -1.5px;
  width: 100%;
  max-width: 671px;
}
.banner-wrapper p {
  color: var(--white);
  font-size: var(--fs-xs);
  line-height: 150%;
  letter-spacing: 0;
  width: 100%;
  max-width: 671px;
}
.banner-wrapper a {
  color: var(--blue);
  background-color: var(--green);
  text-transform: uppercase;
  font-size: var(--fs-exxs);
  padding: clamp(10px, 1.5vw, 20px) clamp(20px, 3vw, 40px);
  border-radius: calc(var(--br-md) + 4px);
  transition: all 0.3s ease-out;
}
.banner-wrapper a:hover {
  background-color: var(--blue);
  color: var(--white);
}
/* BANNER END */

/* EXTRA SECTION START */
.extra-section {
  padding: clamp(25px, 3vw, 50px) 0;
}
.extra-section .header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: clamp(8px, 1vw, 16px);
}
.extra-section .header-container p {
  color: var(--black-grey);
  font-size: var(--fs-xs);
  letter-spacing: 0;
}
.extra-section .header-container h2 {
  color: var(--black);
  font-size: var(--fs-lg);
  font-weight: 400;
  letter-spacing: 0;
}
.extra-section .content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(4px, 0.5vw, 8px);
  margin: clamp(25px, 3vw, 50px) 0;
}
.extra-section .content-container .item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--blue);
  border-radius: var(--br-lg);
  padding: clamp(16px, 2vw, 32px);
  gap: clamp(16px, 2vw, 32px);
}
.extra-section .content-container .item .icon-wrapper {
  background-color: var(--green);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
}
.extra-section .content-container .item h1 {
  color: var(--green);
  font-size: var(--fs-lg);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.5px;
}
.extra-section .content-container .item span {
  font-size: var(--fs-exxs);
  color: var(--black-grey);
  line-height: 150%;
  letter-spacing: 0;
}
.extra-section .content-container .item p {
  color: var(--white);
  font-size: var(--fs-xs);
}
/* EXTRA SECTION END */

/* GOOGLE MAPS START */
.google-maps-wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(25px, 3vw, 50px);
  margin-bottom: clamp(12.5px, 1.4vw, 25px);
}
.google-maps-wrapper .google-maps-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: clamp(8px, 1vw, 16px);
}
.google-maps-wrapper .google-maps-header-wrapper p {
  color: var(--black-grey);
  font-size: var(--fs-xs);
  letter-spacing: 0;
}
.google-maps-wrapper .google-maps-header-wrapper h2 {
  color: var(--black);
  font-size: var(--fs-lg);
  font-weight: 400;
  letter-spacing: 0;
}

.google-maps-wrapper .google-maps-tabs-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.google-maps-wrapper .google-maps-tabs-wrapper ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(12px, 1.5vw, 24px);
  cursor: pointer;
}
.google-maps-wrapper .google-maps-tabs-wrapper ul li {
  font-size: var(--fs-xs);
  color: var(--black);
  font-weight: 500;
  letter-spacing: 0%;
}
.google-maps-wrapper .google-maps-tabs-wrapper ul li.active {
  color: var(--blue);
}
.google-maps-wrapper .map-wrapper {
  width: 100%;
}
.google-maps-wrapper .map-wrapper iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 1820 / 500;
  border-radius: var(--br-lg);
}
/* GOOGLE MAPS END */

/* PARTNER START */
.partners-section {
  padding: 60px 0;
  text-align: center;
}

.partners-section .partners-subtitle {
  color: var(--black-grey);
  font-size: var(--fs-xs);
  letter-spacing: 0;
  text-align: center;
  padding-bottom: clamp(8px, 1vw, 16px);
}

.partners-section .partners-title {
  color: var(--black);
  font-size: var(--fs-lg);
  font-weight: 400;
  letter-spacing: 0;
}

.partners-section .partners-slider {
  width: 100%;
  padding: clamp(25px, 3vw, 50px) 0;
}

.partners-section .partners-slider .swiper-wrapper {
  transition-timing-function: linear !important;
}

.partners-section .partners-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.partners-section .partners-slider .swiper-slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}
/* PARTNER END */

/* VIDEO START */
.reviews-section {
  padding: clamp(25px, 3vw, 50px) 0;
  margin: 10px auto;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.reviews-section .reviews-subtitle {
  display: block;
  color: var(--black-grey);
  font-size: var(--fs-xs);
  letter-spacing: 0;
  text-align: center;
  padding-bottom: clamp(8px, 1vw, 16px);
}

.reviews-section .reviews-title {
  color: var(--black);
  font-size: var(--fs-lg);
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
}

.reviews-section .review-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(25px, 3vw, 50px);
}

.reviews-section .review-content {
  max-width: 966px;
}

.reviews-section .review-text {
  font-size: var(--fs-lg);
  font-weight: 400;
  line-height: 130%;
  color: var(--blue);
  letter-spacing: 0px;
  margin-bottom: clamp(25px, 3vw, 50px);
}

.reviews-section .video-btn {
  display: inline-flex;
  align-items: center;
  gap: clamp(12px, 1.5vw, 24px);
  background-color: var(--green);
  border-radius: 50px;
  padding: 8px clamp(12px, 1.5vw, 24px) 8px 8px;
  border: none;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
  margin-bottom: clamp(25px, 3vw, 50px);
}

.reviews-section .video-btn:hover {
  background-color: var(--blue);
}
.reviews-section .video-btn:hover .video-btn-text {
  color: var(--white);
}

.reviews-section .video-avatar {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-section .video-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews-section .play-icon {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.reviews-section .video-btn-text {
  font-size: calc(var(--fs-exsm) + 4px);
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--blue);
  text-align: left;
  line-height: 1.5;
}

.reviews-section .review-author {
  display: flex;
  gap: clamp(25px, 3vw, 50px);
  font-size: var(--fs-xs);
  color: var(--text-grey);
}

.reviews-section .review-next-btn {
  cursor: pointer;
  padding: 20px;
  transition: transform 0.2s ease;
}

.reviews-section .review-next-btn:hover {
  transform: translateX(8px);
}

.reviews-section .reviews-slider .swiper-pagination {
  position: relative;
}

.reviews-section .reviews-slider .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: var(--green);
  opacity: 0.3;
  margin: 0 4px !important;
  transition: all 0.3s ease;
}

.reviews-section .reviews-slider .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--blue);
}

/* Модальное окно с видео */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-modal.active {
  display: flex;
}

.video-modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.video-modal-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  aspect-ratio: 16/9;
  z-index: 1001;
}

.video-modal-content iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.video-modal-close {
  position: absolute;
  top: -40px;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 36px;
  cursor: pointer;
}
/* VIDEO END */
