@media (max-width: 1400px) {
  .burger-btn {
    display: flex;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--white);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    z-index: 1000;
  }
  .header-wrapper .mobile-menu .navbar-menu ul {
    flex-direction: column;
    gap: 15px;
  }
  .header-wrapper .mobile-menu .navbar-right-wrapper {
    flex-direction: column;
  }
  .header-wrapper .mobile-menu .navbar-right-wrapper .navbar-phone-wrapper {
    align-items: start;
  }
  .mobile-menu.active {
    right: 0;
  }
  /* .mobile-menu.active .mobile-close {
    display: block;
  } */
  .header-wrapper .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 106px 20px 0;
  }
  .header-wrapper .navbar-menu ul li a {
    color: var(--black);
    padding-bottom: 5px;
  }
  .header-wrapper .navbar-menu ul li a.active {
    border-bottom: 1px solid var(--black);
  }
  .header-wrapper .navbar-right-wrapper .navbar-phone-wrapper span {
    color: var(--black);
  }
  .header-wrapper .navbar-right-wrapper .navbar-phone-wrapper a {
    color: var(--black);
  }
  .mobile-menu.active .mobile-close-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 20px;
  }
  .mobile-close-wrapper .logo-wrapper {
    height: 40px;
  }
  .mobile-close-wrapper .logo-wrapper img {
    max-width: 117px;
  }
}
@media (max-width: 992px) {
  .hero {
    min-height: auto;
  }

  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .our-services .our-services-body {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .extra-section .content-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .hero {
    background-position: 70% center !important;
  }

  .hero-body .tab-wrapper {
    max-width: 100%;
  }

  .hero-body .tab-group {
    flex-direction: column;
    gap: 5px;
  }

  .hero-body .tab-group button {
    border-radius: var(--br-md);
  }

  .hero-body .tab-content {
    margin-top: 12px;
    border-radius: var(--br-md);
    overflow: hidden;
  }
  .spinner-container {
    width: 100px;
    height: 100px;
  }
  /* ----------------------- */
  .reviews-section .review-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .reviews-section .review-card {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
  }
  .reviews-section .review-next-btn {
    display: none;
  }
  .reviews-section .reviews-slider .swiper-pagination {
    margin-top: 10px;
  }
  .reviews-section .video-avatar {
    width: 50px;
    height: 50px;
  }
  .reviews-section .review-text {
    font-size: 20px;
  }
  .reviews-section .video-btn-text {
    font-size: var(--fs-exsm);
  }
}
@media (max-width: 576px) {
  .header-wrapper .navbar-menu {
    justify-content: start;
    align-items: start;
    text-align: start;
  }
  .header-wrapper .mobile-menu .navbar-right-wrapper {
    width: 100%;
  }
  .header-wrapper .navbar-right-wrapper .navbar-right-btn-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .header-wrapper .navbar-right-wrapper .navbar-right-btn-wrapper button {
    width: 100%;
    justify-content: center;
  }
  .header-wrapper .logo-wrapper img {
    max-width: 117px;
  }
  .header-wrapper .mobile-menu .navbar-right-wrapper .navbar-phone-wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .spinner-container {
    display: none;
  }
  .our-services .our-services-body {
    grid-template-columns: repeat(1, 1fr);
  }
  .extra-section .content-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .extra-section .content-container .item {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .google-maps-wrapper .map-wrapper iframe {
    aspect-ratio: 2 / 1.5;
  }
}
